<footer class="argo-footer">
  <div class="container">
      <div>
          <span class="copyright">
              © 2015-2018 雪梨教育 石家庄佳诚网络技术有限公司版权所有
          </span>
          <span class="web-statistics">
              <a href="http://www.miibeian.gov.cn/">冀ICP备12011972号-4</a>
              <span id="cnzz_stat_icon_1256646432" style="display:none;">
                  <a href="http://www.cnzz.com/stat/website.php?web_id=1256646432" target="_blank" title="站长统计">站长统计</a>
              </span>
              <script src="//s95.cnzz.com/z_stat.php?id=1256646432" type="text/javascript"></script>
          </span>
      </div>
  </div>
</footer>